.innerVbox {

}

#settingVbox {
    -fx-border-style: solid inside;
    -fx-border-width: 0 2 0 0;
    -fx-border-radius: 2;
}

#dataVbox {
    -fx-border-style: solid inside;
    -fx-border-width: 0 0 2;
    -fx-border-radius: 2;
}

.innerButton {
    -fx-pref-width: 92;
    -fx-pref-height: 56;
}

.fadeButton {
    -fx-pref-width: 40;
    -fx-pref-height: 23;
}

.innerHbox {
    -fx-padding: 5 0 0 5;
    -fx-spacing: 5;
}

#splitPane > * {
    CHART_COLOR_1: blue;
}

.chart-line-symbol {
    -fx-background-color: CHART_COLOR_1, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 3px;
    -fx-padding: 2px;
}

.chart-series-line {
    -fx-stroke: CHART_COLOR_1;
    -fx-stroke-width: 3px;
}

.discreteFirstPoint {
    -fx-background-color: red, white !important;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}

.discretePoint {
    -fx-background-color: black, white !important;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}

#sliderLight {
    -slider-filled-track-color: rgb(68, 113, 169);
    -slider-track-color: -slider-filled-track-color;
}

#sliderLight .track {
    -fx-base: rgb(173, 216, 230);
    -fx-background-color: -slider-track-color;
}

#sliderLight .thumb {
    -fx-background-color: gray;
}

.column-header-background {
    visibility: hidden;
    -fx-padding: -1em;
}

.readOnlyDataKey {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
    -fx-alignment: CENTER;
    -fx-padding: 0 0 0 10;
}

.readOnlyDataVal {
    -fx-padding: 0 0 0 20;
}
