.innerVbox {
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.innerButton {
    -fx-pref-width: 75;
    -fx-pref-height: 56;
}

.fadeButton {
    -fx-pref-width: 40;
    -fx-pref-height: 23;
}

.innerHbox {
    -fx-padding: 5 0 0 5;
    -fx-spacing: 5;
}

#splitPane > * {
    CHART_COLOR_1: blue;
}

.chart-line-symbol {
    -fx-background-color: CHART_COLOR_1, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 3px;
    -fx-padding: 2px;
}

.chart-series-line {
    -fx-stroke: CHART_COLOR_1;
    -fx-stroke-width: 3px;
}

#sliderLight {
    -slider-filled-track-color: red;
    -slider-track-color: -slider-filled-track-color;
}

#sliderLight .track {
    -fx-base: pink;
    -fx-background-color: -slider-track-color;
}

#sliderLight .thumb {
    -fx-background-color: gray;
}

.column-header-background {
    visibility: hidden;
    -fx-padding: -1em;
}
