# Normalize line endings to LF.
* text eol=lf

# Ensure that line endings for DOS batch files are not modified.
*.bat -text

*.ftl linguist-language=freemarker
frame/src/main/resources/com/tlcsdm/frame/static/css/* linguist-vendored
docs/* linguist-vendored
# Ensure the following are treated as binary.
*.gif   binary
*.jar   binary
*.jpeg  binary
*.jpg   binary
*.png   binary
*.vsd   binary
*.xls   binary
*.xlsx  binary
*.ttf   binary
