[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Javafx scaffolding, built on JDK17 + JavaFX21 + controlsfx 11.x.x + Maven
[access "refs/*"]
	owner = group user/梦里不知身是客 (unknowIfGuestInDream)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/梦里不知身是客 (unknowIfGuestInDream)
	label-Verified = -1..+1 group user/梦里不知身是客 (unknowIfGuestInDream)
	push = group user/梦里不知身是客 (unknowIfGuestInDream)
	read = group user/梦里不知身是客 (unknowIfGuestInDream)
	rebase = group user/梦里不知身是客 (unknowIfGuestInDream)
	removeReviewer = group user/梦里不知身是客 (unknowIfGuestInDream)
	submit = group user/梦里不知身是客 (unknowIfGuestInDream)
[access "refs/heads/*"]
	create = group user/梦里不知身是客 (unknowIfGuestInDream)
	push = +force group user/梦里不知身是客 (unknowIfGuestInDream)
	pushMerge = group user/梦里不知身是客 (unknowIfGuestInDream)
	read = group user/梦里不知身是客 (unknowIfGuestInDream)
[access "refs/tags/*"]
	push = group user/梦里不知身是客 (unknowIfGuestInDream)
	push = +force group user/梦里不知身是客 (unknowIfGuestInDream)
