.samples-tree {
    -fx-background-color: -fx-outer-border, -fx-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2, 0;
}

.right-panel {
    -fx-padding: 5;
}

.right-panel > .sample-name {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.right-panel > .separator {
    -fx-padding: 5 0 5 0;
}

.right-panel > .description {
    -fx-text-alignment: justify;
    -fx-font-size: 18;
}

.right-panel > .sampleVersion {
    -fx-text-alignment: justify;
    -fx-font-size: 14;
}

.right-panel > * > .project-name-title,
.right-panel > * > .property {
    -fx-font-weight: bold;
}

.right-panel > * > .project-name {
    -fx-font-size: 16;
    -fx-text-alignment: justify;
}

.center-panel > .tool-bar {
    -fx-background-color: #DCDCDC;
}

/* 
 * The area beneath the description specifically to allow people to interact with
 * the sample.
 */
.right-panel > .control-panel {
    -fx-padding: 5 0 0 0;
}

.control-textarea {
    -fx-background-color: rgb(244, 244, 244);
    -fx-focus-color: rgb(244, 244, 244);
    -fx-faint-focus-color: rgb(244, 244, 244);
    -fx-box-border: rgb(244, 244, 244);
    -fx-translate-y: -7;
    -fx-font-size: 16;
}

.control-textarea .scroll-pane {
    -fx-background-color: rgb(244, 244, 244);
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-width: -1;
}

.control-textarea .scroll-pane .content {
    -fx-background-color: rgb(244, 244, 244);
}

.dialog-pane {

}

.dialog-pane > .header-panel {
    -fx-font-size: 18;
}

.dialog-pane > .content {
    -fx-font-size: 14;
}

/* TreeView节点 */
.tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: #13227a;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-rotate: 90;
}
