* {
    -fx-text-background-color: white;
}

.tagmark {
    -fx-fill: gray;
}

.anytag {
    -fx-fill: crimson;
}

.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.attribute {
    -fx-fill: green;
}

.avalue {
    -fx-fill: blue;
}

.comment {
    -fx-fill: teal;
}
