# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
name: Java package with Maven
on:
  push:
    branches: [ 'master' ]
    paths-ignore:
      - '.github/**'
      - '.github/workflows/**'
      - '.idea/**'
      - '.settings/**'
      - '.vscode/**'
      - 'README*.md'
      - '.gitignore'
      - '.editorconfig'
      - '.gitattributes'
      - '.mergify.yml'
      - 'CHANGELOG.md'
      - 'CONTRIBUTORS.md'
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'qodana.yaml'
      - 'SECURITY.md'
      - '.imgbotconfig'
      - 'Jenkinsfile'
      - '**/src/test/**'
  workflow_dispatch:
concurrency:
  # On master/release, we don't want any jobs cancelled so the sha is used to name the group
  # On PR branches, we cancel the job if new commits are pushed
  group: ${{ github.ref == 'refs/heads/master' }}
  cancel-in-progress: true
jobs:
  prepare:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Update dependency graph
        uses: advanced-security/maven-dependency-submission-action@v5.0.0
      - name: Prepare JRE
        run: |
          mkdir aftifact
          sh ./jenkins/jre.sh
      - name: Artifact JRE
        uses: actions/upload-artifact@v6
        with:
          name: JRE
          path: |
            aftifact
  package:
    strategy:
      fail-fast: false
      matrix:
        mod: [ 'smc', 'qe' ]
        buildos: [ 'mac', 'linux', 'win' ]
    runs-on: ubuntu-latest
    needs: prepare
    continue-on-error: false
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@v2
        with:
          egress-policy: audit

      - uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Install
        run: mvn --file pom.xml '-Dmaven.test.skip=true' '-Dmaven.javadoc.skip=true' '-Djavafx.platform=${{ matrix.buildos }}' clean install
      - name: Clean
        run: mvn --file pom.xml clean
      - name: Package ${{ matrix.mod }}Tool-${{ matrix.buildos }}
        run: |
          result_path=aftifact/${{ matrix.mod }}Tool
          mkdir -p ${result_path}
          mvn --file ${{ matrix.mod }}/pom.xml -DskipTests -Duser.name='Github Action' -Djavafx.platform=${{ matrix.buildos }} -Pjavadoc-with-links package
          cp ${{ matrix.mod }}/target/javafxTool-${{ matrix.mod }}.jar ${result_path}/javafxTool-${{ matrix.mod }}.jar
          if [ -f "${{ matrix.mod }}/target/CHANGELOG.md" ]; then
              cp ${{ matrix.mod }}/target/CHANGELOG.md ${result_path}/CHANGELOG.md
          fi
          cp -r ${{ matrix.mod }}/target/lib ${result_path}/lib
          cp -r docs ${result_path}/docs
          cp -r ${{ matrix.mod }}/target/reports/apidocs ${result_path}/apidocs
          cp -r ${{ matrix.mod }}/target/license ${result_path}/license
          cp -r `ls -A jenkins/${{ matrix.buildos }}/${{ matrix.mod }}/*` ${result_path}
      - name: Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.mod }}Tool-${{ matrix.buildos }}
          path: |
            aftifact
          retention-days: 7
      - name: Release resource
        run: |
          rm -r aftifact

