# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  pull_request:
    branches: [ 'master' ]

permissions:
  contents: read
  checks: write
  id-token: write

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        java: [ '17', '21' ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        experimental: [ false ]
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK ${{ matrix.Java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven in Mac
        if: runner.os == 'Macos'
        run: mvn -B clean package --file pom.xml -DskipTests '-Dmaven.javadoc.skip=true' '-Djavafx.platform=mac'
      - name: Build with Maven
        if: runner.os != 'Macos'
        run: mvn -B clean package --file pom.xml -DskipTests '-Dmaven.javadoc.skip=true'
      - name: Test with Maven in Mac
        if: runner.os == 'Macos'
        run: mvn test --file pom.xml -DworkEnv=ci '-Djavafx.platform=mac' '-Dkotest.framework.classpath.scanning.autoscan.disable=true'
      - name: Test with Maven
        if: runner.os != 'Macos'
        run: mvn test --file pom.xml -DworkEnv=ci '-Dkotest.framework.classpath.scanning.autoscan.disable=true'
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always() # always run even if the previous step fails
        with:
          report_paths: '**/target/surefire-reports/TEST-*.xml'
          detailed_summary: true
          flaky_summary: true
          include_time_in_summary: true
          group_suite: true
          token: ${{ secrets.GITHUB_TOKEN }}
